.login__container {
  display: flex;
  gap: 4rem;
}

.login__container > div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.login__header {
  font-weight: 600;
  padding-block: 3rem;
}

.login__title {
  font-weight: 500;
}

hr {
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;
}

.login__subtitle {
  margin-bottom: 2rem;
}

.login__text {
  margin: 0.5rem 1rem;
}

.login__input {
  margin-bottom: 1rem;
}

.login__btn {
  margin-top: 3rem;
}
