nav ol {
  justify-content: center;
}
.register_header {
  font-weight: 600;
  padding-block: 3rem;
}

.form__title {
  font-weight: 500;
}

hr {
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;
}

.form__subtitle {
  margin-bottom: 2rem;
}

.form__group {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding-inline: 2rem;
}

.form__input {
  max-width: calc(50% - 2rem);
}

.form__btn {
  margin-left: 1.5rem;
}
