footer {
  width: 100%;
  padding-block: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer small {
  margin-top: 1rem;
  color: rgba(0, 0, 0, 0.4);
}
